[submodule "lib/stb"]
	path = lib/stb
	url = https://github.com/nothings/stb.git
[submodule "lib/glfw"]
	path = lib/glfw
	url = https://github.com/glfw/glfw.git
[submodule "lib/imgui"]
	path = lib/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "lib/Chipmunk2D"]
	path = lib/Chipmunk2D
	url = https://github.com/slembcke/Chipmunk2D.git
[submodule "lib/dyad"]
	path = lib/dyad
	url = https://github.com/rxi/dyad
[submodule "lib/gumbo-parser"]
	path = lib/gumbo-parser
	url = https://github.com/google/gumbo-parser.git
[submodule "lib/net_skeleton"]
	path = lib/net_skeleton
	url = https://github.com/cesanta/net_skeleton.git
[submodule "lib/nope.c"]
	path = lib/nope.c
	url = https://github.com/riolet/nope.c.git
[submodule "lib/libuv"]
	path = lib/libuv
	url = https://github.com/joyent/libuv.git
[submodule "lib/glew"]
	path = lib/glew
	url = https://github.com/nigels-com/glew.git
[submodule "lib/glm"]
	path = lib/glm
	url = https://github.com/g-truc/glm.git
[submodule "lib/cimg"]
	path = lib/cimg
	url = http://git.code.sf.net/p/cimg/source
[submodule "lib/oglplus"]
	path = lib/oglplus
	url = https://github.com/matus-chochlik/oglplus.git
[submodule "lib/liquidfun"]
	path = lib/liquidfun
	url = https://github.com/google/liquidfun.git
[submodule "lib/asio"]
	path = lib/asio
	url = git://git.code.sf.net/p/asio/git
