[submodule "lib/stb"]
	path = lib/stb
	url = https://github.com/nothings/stb.git
[submodule "lib/glfw"]
	path = lib/glfw
	url = https://github.com/glfw/glfw.git
[submodule "lib/imgui"]
	path = lib/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "lib/Chipmunk2D"]
	path = lib/Chipmunk2D
	url = https://github.com/slembcke/Chipmunk2D.git
[submodule "lib/dyad"]
	path = lib/dyad
	url = https://github.com/rxi/dyad
[submodule "lib/gumbo-parser"]
	path = lib/gumbo-parser
	url = https://github.com/google/gumbo-parser.git
[submodule "lib/net_skeleton"]
	path = lib/net_skeleton
	url = https://github.com/cesanta/net_skeleton.git
[submodule "lib/nope.c"]
	path = lib/nope.c
	url = https://github.com/riolet/nope.c.git
[submodule "lib/libuv"]
	path = lib/libuv
	url = https://github.com/joyent/libuv.git
